<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth Practice</title>
    <!-- specified in express.static    -->
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">
    <link rel="stylesheet" href="../static/mystyles.css">
    <style>

    </style>
</head>
<body>
    <nav>
        <section>
                <a href="/" class="btn home_btn" >Home Page</a>
                <ul class="nav-links">
                    <li><a href="auth/login">Login</a></li>
                    <li><a href="auth/logout">Logout</a></li>
                    
                </ul>
        </section>
    </nav>
<main>
    <section>
        <header>
            <h2 class="page_title">OAuth Practice</h2>
        </header>
    </section>

</main>
</body>
</html>