<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth Practice</title>
    <!-- specified in express.static    -->
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">
    
    <style>
        *,*:before,*:after{
            box-sizing: border-box;
        }
        html{
            font-size: 16px;
        }
        a{
            text-decoration: none;
        }
        nav{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100px;
            background-color: #228B22;
            color:white;
            padding:25px 0;
            overflow-y: hidden;
        }
.home_btn{
    font-size:2rem;
    color: white;
text-decoration: none;
line-height: 50px;
min-width: 200px;
float: left;
}

        main{
            margin-top: 100px;
        }


        section{
            max-width:900px;
        }

        .page_title{
            text-align: center;
        }
        nav ul{
            list-style-type: none;
margin: 0;
float: left;
        }
        .nav-links{
            float: right;
           
        }
        .nav-links li{
            width:150px;
        }
        nav li{
            display: inline-block;
        }
    
    </style>
</head>
<body>
    <nav>
        <section>
                <a href="/" class="btn home_btn" >Home Page</a>
                <ul class="nav-links">
                    <li><a href="auth/login">Login</a></li>
                    <li><a href="auth/logout">Logout</a></li>
                    
                </ul>
        </section>
    </nav>
<main>
    <section>
        <header>
            <h2 class="page_title">OAuth Practice</h2>
        </header>
    </section>

</main>
</body>
</html>