<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth | Login Page</title>
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">
    <link rel="stylesheet" href="../static/mystyles.css">

    <style>
      
        #google_login{
            color:white;
            display: flex;
            background-color:red;
            width:300px;
            height: 40px;
            justify-content: center;
            border-radius: 2px;
        }


    
    </style>
</head>
<body>
    <nav>
        <section>
                <a href="/" class="btn home_btn" >Home Page</a>
                <ul class="nav-links">
                        <% if (!userProfile){ %>
                            <!-- <li><a href="/auth/login">Login</a></li> -->
                            <% }else{ %>
                            
                    <li style="width:50px;height:50px;border-radius:50%;overflow:hidden;float:right;margin-left:15px"><a href="/profile"><img src="<%=userProfile.thumbnail%>" alt="<%=userProfile.displayName%>"></a></li>
                    <% } %>
                            <!-- <li><a href="/profile">Profile</a></li> -->
                </ul>
        </section>
    </nav>
<main>
    <section>
        <header>
            <h4 class="page_title">Login With...</h4>
            <a href="/auth/google" id="google_login">Google+</a>
        </header>
    </section>

</main>
</body>
</html>