<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth Practice</title>
    <!-- specified in express.static    -->
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/skeleton.css">
    <link rel="stylesheet" href="../static/mystyles.css">
    <style>

    </style>
</head>
<body>
    <nav>
        <section>
                <a href="/" class="btn home_btn" >Home Page</a>
                <ul class="nav-links">
                    <% if (!userProfile){ %>
                    <li><a href="/auth/login">Login</a></li>
                    <% }else{ %>
                    <li><a href="/auth/logout">Logout</a></li>
                    <li style="width:50px;height:50px;border-radius:50%;overflow:hidden;float:right;margin-left:15px"><img src="<%= userProfile.thumbnail %>" alt="<%=userProfile.displayName%>"></li>
                    <% } %>
                </ul>
        </section>
    </nav>
<main>
    <section>
        <h2>
            Welcome to your profile, <%= userProfile.displayName %>
        </h2>
    </section>

</main>
</body>
</html>